//
// buttons.scss
// Extended from Bootstrap
//

.btn-base {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}

.btn > img {
  max-height: 1em;
  width: auto;
}


// Sizing

.btn-xs {
  padding: $input-btn-padding-y-xs $input-btn-padding-x-xs;
  font-size: $input-btn-font-size-xs;
}


// Custom colors

.btn-gray-300-20 {
  background-color: rgba($gray-300, .2);
  color: $white;

  &:hover, &:focus {
    background-color: rgba($gray-300, .25);
    color: $white;
  }

  &.active {
    background-color: rgba($gray-300, .25);
    color: $white;
  }
}



// Variants

@each $color, $value in $theme-colors {
  .btn-translucent-#{$color} {
    @include button-translucent-variant($value);
  }
}

@each $color, $value in $theme-colors {
  .btn-soft-#{$color} {
    @include btn-soft-variant(rgba($value, $btn-soft-bg-opacity), $value);
  }
}


// Pill

.btn-pill {
  border-radius: $border-radius-pill;
}


// Button icons

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: initial;
  width: $btn-height;
  padding: 0;
  height: $btn-height;
  border-radius: 50%;
}

