// Theme Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Paths

$path-to-img: "../images";
$path-to-fonts: "../fonts";
$path-to-videos: "../videos";


//
// Theme 
//

// Avatar

$avatar-size-base: 1.875rem;
$avatar-size-xs: 1rem;
$avatar-size-sm: 1.5rem;
$avatar-size-lg: 2.25rem;
$avatar-size-xl: 4rem;
$avatar-size-xxl: 5rem;

$avatar-title-bg: $gray-500;
$avatar-title-color: $white;


// Icons

$icon-size-base: 3rem;
$icon-size-xs: 1.5rem;
$icon-size-sm: 2.25rem;
$icon-size-lg: 4rem;
$icon-size-xl: 5rem;

$icon-circle-size: 4.1875rem;
$icon-circle-font-size: 1.875rem;


// Images

$img-skewed-rotate-y: 35deg;
$img-skewed-rotate-x: 15deg;


// List

$list-item-spacing-y: .35rem;

$list-link-font-size: $font-size-sm;
$list-link-color: $gray-700;
$list-link-hover-color: $primary;


// Screenshot

$screenshot-border-radius: 0.625rem;
$screenshot-box-shadow: 25px 60px 125px -25px fade-out($gray-700, .9), 16px 40px 75px -40px fade-out(black, .8);




